# Python bytecode files
*.pyc
*.pyo
__pycache__/

# IDE folders and files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Environment variables
.env

# Log files
*.log

# Temporary files
*.tmp
